<section>
  <div class="container-fluid width-100% height-100%" style="background-color: #74CDE9;">
    <div class="row d-flex justify-content-center  ">
      <div class="col-md-6 mt-5">
        <h2 class="text-center" style="color: brown; font-family: Arial, Helvetica, sans-serif; font-weight: 1800;">EDIT
          BANNER</h2>
        <form action="/admin/editbanner/{{bannerDetails._id}}" method="post"  id="editbanner" enctype="multipart/form-data">



          <select class="form-select mt-5" aria-placeholder="Select Banner" name="prodname" style="border:2px solid ;border-radius: 8px;">

            

            {{#each prodList}}

            <option value="{{this.productname}}">{{this.productname}}</option>
            {{/each}}

          </select>





          <input type="text" name="heading" value="{{bannerDetails.heading}}" placeholder="Heading" id="heading"
            class="form-control mt-5" style="border:2px solid ;border-radius: 8px;">


          <input type="number"  placeholder="Price" value="{{bannerDetails.price}}" name="price" id="price"
            class="form-control mt-5 numinput" style="border:2px solid ;border-radius: 8px;">


          {{!-- <input type="number" placeholder="Discount Price" id="discountprice" name="discountprice"
            class="form-control mt-5" style="border:2px solid ;border-radius: 8px;"> --}}



          {{!-- <select class="form-select mt-5" name="catname" style="border:2px solid ;border-radius: 8px;">

            <option>Select Category</option>

            {{#each allProducts}}

            <option value="{{this._id}}">{{this.product}}</option>
            {{/each}}

          </select> --}}


          <input type="file" placeholder="Image"  value="{{bannerDetails.image}}" id="image" name="image" multiple
            class="form-control mt-5" style="border:2px solid ;border-radius: 8px;">

          <img src="/productimages/{{bannerDetails.image.[0]}}" alt="" width="100em" class="mt-2">
          
          {{!-- <input type="number" placeholder="Stock" id="stock" name="stock" multiple class="form-control mt-5"
            style="border:2px solid ;border-radius: 8px;"> --}}


          <div class="d-flex justify-content-around" style="margin-bottom:22px ;">

            <a class="btn btn-danger mt-5" href="/admin/banners">Go Back</a>

            <button type="submit" role="button" class="btn btn-success mt-5">Submit</button>

          </div>


        </form>
      </div>
    </div>
  </div>
  </div>
</section>
<style>
.numinput::-webkit-outer-spin-button,
.numinput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.numinput[type=number] {
-moz-appearance: textfield;
}
</style>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>  
<script>  
$(document).ready (function () {  
 $('#editbanner').submit (function (e) {  
      
    var heading = $('#heading').val();  
    var price = $('#price').val();  
    var image = $('#image').val();   
     
  $(".error").remove();  
if (heading.length < 1) {  
  e.preventDefault();
      $('#heading').after('<span class="error" >This field is required</span>');  
    }  
if (price.length < 1) { 
  e.preventDefault(); 
      $('#price').after('<span class="error">This field is required</span>');  
    }     
    if (image.length < 1) { 
  e.preventDefault(); 
      $('#image').after('<span class="error">This field is required</span>');  
    } 
  });  
    
});  
</script> 

<style>
  .error{
    color: red;
  }
</style>