<div class="container mt-5" style="padding-top: 9%;">


  {{!-- <form action="/checkOut" method="post"> --}}

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">


        {{!-- <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">3</span>
        </h4> --}}



        <ul class="list-group mb-3" style="border: 2px solid;">
          <li class="list-group-item d-flex justify-content-between lh-condensed" style="background-color: aqua; ">
            <h4>Products</h4>
          </li>
          {{#each checkItem}}
          {{#each cartItems}}
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{this.product.productname}}</h6>
              {{!-- <small class="text-muted">Brief description</small> --}}
            </div>
            <span class="text-muted">{{this.quantity}} X ₹ {{this.product.price}}</span>
          </li>
          {{/each}}
          {{/each}}
        </ul>



        <ul style="border: 2px solid;">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">SubTotal</h6>
              {{!-- <small class="text-muted">Brief description</small> --}}
            </div>
            <span class="text-muted">₹ {{totalAmount}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            {{!-- <div>
              <h6 class="my-0">Coupen Discount</h6>
              <input type="text" placeholder="Enter Code" class="form-control input-sm"> <button class="btn btn-primary"
                style="height:2.4em ;">Apply</button>
              <small class="text-muted">Brief description</small>
            </div> --}}
            {{!-- <form action="/checkout/applyCoupen" method="post" id="coupenCode"> --}}

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="@getbootstrap" style="font-size: 12px;">GET CODE</button>
                  {{!-- <button class="btn btn-primary" type="button" style="font-size: 12px;">GET CODE</button> --}}
                </div>
                <input type="text" class="form-control" style="font-size: 12px;height: 41px;"
                  placeholder="Enter Coupen Code" aria-label="Recipient's username" name="coupenCode" id="coupenCode"
                  aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" onclick="applyCoupen()" type="button">APPLY</button>
                  {{!-- <a class="btn btn-primary" role="button" href="/applyCoupen" type="submit"
                    data-target="#coupenCode" style="font-size: 12px;">APPLY</a> --}}
                </div>
              </div>
              {{!--
            </form> --}}


            {{!-- <span class="text-muted">₹</span> --}}
          </li>
          <li class="list-group-item d-flex justify-content-between ">
            <div class="text-success">
              <h6 class="my-0">Grand Total</h6>
              {{!-- <small>EXAMPLECODE</small> --}}
            </div>
            <span class="text-success grandTotal" id="grandTotal">₹ {{totalAmount}}</span>
            <input type="text" hidden class="grandTotal" id="grandTotalInput" name="grandTotal" value="{{totalAmount}}">
          </li>
          {{!-- <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li> --}}
        </ul>

        <div class="card p-2 mt-4" style="border: 2px solid;">



          <div class="d-flex flex-column  ">




            <div class="form-group">
              <div>
                <input type="radio" required name="payment" id="netBanking" value="netBanking">
                <label for="paypal">Online Payment</label>
              </div>
            </div>
            <div class="form-group">
              <div>
                <input type="radio" name="payment" id="COD" value="COD" checked>
                <label for="directcheck">Cash-On-Delivery</label>
              </div>
            </div>


            {{!-- <button class="btn btn-primary" type="submit">Place Order</button> --}}

            <button class="btn btn-primary" onclick="checkOut()">Place Order</button>

          </div>




        </div>


      </div>



      <div class="col-md-8 order-md-1">

        <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm">Add Address</a>
        <h4 class="mt-5">Billing address</h4>

        <div class="row">

        </div>

        <div class="mb-3">
          {{!-- <label for="username">Username</label> --}}
          <div class="input-group">
            <div class="input-group-prepend">
              {{!-- <span class="input-group-text">@</span> --}}

            </div>





          </div>
          <div class="row gx-4">
          {{#each allAddress}}
          
          <div class="card mt-5 ml-4" style="width: 18rem; background-color: aqua; border: 2px solid;">
            <a href="" class="btn btn" data-toggle="modal" data-target="#editmodalContactForm{{this._id}}" style="width: fit-content;margin-left: 15em;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <input type="radio" name="address" id="address" required="" value="{{this._id}}" style="margin-right: 90%;">
            <div class="card-body">
              <h5 class="card-title">{{this.address.name}}</h5>
              <p class="card-text">{{this.address.Address}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Ph. : {{this.address.phonenumber}}</li>
              <li class="list-group-item">Gmail : {{this.address.email}}</li>
              <li class="list-group-item">Pincode : {{this.address.pincode}}</li>
              <li class="list-group-item">Locality : {{this.address.locality}}</li>
              <li class="list-group-item">Landmark : {{this.address.landmark}}</li>
              <li class="list-group-item">District : {{this.address.district}}</li>
            </ul>

          </div>

          {{/each}}
          </div>

        </div>



        <hr class="mb-4">


      </div>
    </div>

    {{!--
  </form> --}}


</div>

</div>



{{!-- ///////////////////////////add address modal//////////////////////////////// --}}



{{!-- <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm">Add Address</a> --}}


{{!-- <a href="/" role="button" class="btn btn-primary">ADD ADDRESS</a> --}}
{{!-- <a href="/logout" role="button" class="btn btn-primary">LOGOUT</a> --}}

</div>
<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/addAddress" method="post" id="addaddress">

        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"> </i>
            <input type="text" id="name" name="name" class="form-control validate">
            <label data-error="wrong" data-success="right" for="form34">Your name</label>
          </div>


          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="number" name="phonenumber" id="phonenumber" class="form-control validate">
            <label data-error="wrong" data-success="right" for="form29">Phone Number</label>
          </div>



          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="email" id="email" name="email" class="form-control validate">
            <label data-error="wrong" data-success="right" for="form29">Your email</label>
          </div>



          <div class="md-form">
            <i class="fas fa-pencil prefix grey-text"></i>
            <input type="text" id="Address" name="Address" class="md-textarea form-control" rows="4">
            <label data-error="wrong" data-success="right" for="form32">Address</label>
          </div>


          <div class="md-form mb-5">
            <i class="fas fa-tag prefix grey-text"></i>
            <input type="text" id="locality" name="locality" class="form-control validate">
            <label data-error="wrong" data-success="right" for="form32">Locality</label>
          </div>


          <div class="md-form mb-5">
            <i class="fas fa-tag prefix grey-text"></i>
            <input type="number" id="pincode" name="pincode" class="form-control validate">
            <label data-error="wrong" data-success="right" for="form32">Pincode</label>
          </div>


          <div class="md-form mb-5">
            <i class="fas fa-tag prefix grey-text"></i>
            <input type="text" id="landmark" name="landmark" class="form-control validate">
            <label data-error="wrong" data-success="right" for="form32">Landmark</label>
          </div>


          <div class="md-form mb-5">
            <i class="fas fa-tag prefix grey-text"></i>
            <input type="text" id="district" name="district" class="form-control validate">
            <label data-error="wrong" data-success="right" for="form32">District</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-primary" type="submit">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
        </div>

      </form>

    </div>
  </div>
</div>


</div>
</div>

</div>
</div>
</div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('#addaddress').submit(function (e) {
    
      var name = $('#name').val();
      var phonenumber = $('#phonenumber').val();
      var email = $('#email').val();
      var Address = $('#Address').val();
      var locality = $('#locality').val();
      var pincode = $('#pincode').val();
      var landmark = $('#landmark').val();
      var district = $('#district').val();
      $(".error").remove();
      if (name.length < 1) {
         e.preventDefault(); 
        $('#name').after('<span class="error" >This field is required</span>');
      }
      if (phonenumber.length < 10) {
         e.preventDefault(); 
        $('#phonenumber').after('<span class="error">This field is required and need a valid number</span>');
      }
      if (email.length < 1) {
         e.preventDefault(); 
        $('#email').after('<span class="error">This field is required</span>');
      }

      if (Address.length < 5) {
         e.preventDefault(); 
        $('#Address').after('<span class="error">This field is required</span>');
      }

      if (locality.length < 1) {
         e.preventDefault(); 
        $('#locality').after('<span class="error">This field is required</span>');
      }

      if (pincode.length < 1) {
         e.preventDefault(); 
        $('#pincode').after('<span class="error">This field is required</span>');
      }

      if (landmark.length < 1) {
         e.preventDefault(); 
        $('#landmark').after('<span class="error">This field is required</span>');
      }

      if (district.length < 2) {
         e.preventDefault(); 
        $('#district').after('<span class="error">This field is required</span>');
      }
    });

  });  
</script>

<style>
  .error {
    color: red;
  }
</style>





{{!-- ////////////////////////////////////////////edit addressmodal////////////////////////////////////////////////// --}}


  </div>
  {{#each allAddress}}
      <div class="modal fade" id="editmodalContactForm{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Edit Address</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/editaddress/{{this._id}}" method="post" id="editaddress">

              <div class="modal-body mx-3">
                <div class="md-form mb-5">
                  <i class="fas fa-user prefix grey-text"></i>
                  <input type="text" id="editname" required="" name="name" value="{{this.address.name}}" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="form34">Your name</label>
                </div>


                <div class="md-form mb-5">
                  <i class="fas fa-envelope prefix grey-text"></i>
                  <input type="number" name="phonenumber" required="" id="editphonenumber" value="{{this.address.phonenumber}}" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="form29">Phone Number</label>
                </div>



                <div class="md-form mb-5">
                  <i class="fas fa-envelope prefix grey-text"></i>
                  <input type="email" id="editemail" name="email" required="" value="{{this.address.email}}" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="form29">Your email</label>
                </div>



                <div class="md-form">
                  <i class="fas fa-pencil prefix grey-text"></i>
                  <input type="text" id="editAddress" name="Address" required="" value="{{this.address.Address}}" class="md-textarea form-control" rows="4">
                  <label data-error="wrong" data-success="right" for="form32">Address</label>
                </div>


                <div class="md-form mb-5">
                  <i class="fas fa-tag prefix grey-text"></i>
                  <input type="text" id="editlocality" name="locality" required="" value="{{this.address.locality}}" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="form32">Locality</label>
                </div>


                <div class="md-form mb-5">
                  <i class="fas fa-tag prefix grey-text"></i>
                  <input type="number" id="editpincode" name="pincode" required="" value="{{this.address.pincode}}" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="form32">Pincode</label>
                </div>


                <div class="md-form mb-5">
                  <i class="fas fa-tag prefix grey-text"></i>
                  <input type="text" id="editlandmark" name="landmark" required="" value="{{this.address.landmark}}" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="form32">Landmark</label>
                </div>


                <div class="md-form mb-5">
                  <i class="fas fa-tag prefix grey-text"></i>
                  <input type="text" id="editdistrict" name="district" required="" value="{{this.address.district}}" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="form32">District</label>
                </div>

              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-primary" type="submit">Submit<i class="fas fa-paper-plane-o ml-1"></i></button>
              </div>

            </form>

          </div>
        </div>
      </div>

{{/each}}
    </div>
  </div>

</div>
</div>
</div>
</div>














<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  const checkOut = async () => {
    let paymentDetails = $('input[type="radio"][name="payment"]:checked').val()
    let deliveryDetails = $('input[type="radio"][name="address"]:checked').val()
        if(deliveryDetails !== undefined) { 
     

    try {
      const res = await axios.post('/checkOut', {
        paymentDetails: paymentDetails,
        deliveryDetails: deliveryDetails
      }).then((e) => {
        if (paymentDetails === "COD") {
          location.href = `/trackOrder/${e.data.orderDetails._id}`;

        } else {
          razorpayPayment(e.data.data)
        }
      })

    } catch (err) {
      console.log("error" + err)
    }
        }else{
             swal({

          text: "please add your address",
          icon: "error",
          buttons: false
        });
        setTimeout(() => {
          location.reload()
        }, 900) 
        }
  }

  function razorpayPayment(data) {
    var options = {
      "key": "rzp_test_5MGUE48tUmu4z4", // Enter the Key ID generated from the Dashboard
      "amount": data.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "Elegant Homes",
      "description": "Test Transaction",
      "image": "https://example.com/your_logo",
      "order_id": data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function (response) {

        verifyPayment(response, data)
      },
      "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#3399cc"
      }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  }

  const verifyPayment = async (payment, order) => {
    try {
      const res = await axios.post('/verifyPayment', {
        payment,
        order
      }).then((e) => {
        if (e.data.status) {
          location.href = `/trackOrder/${order.receipt}`;
        } else {
          alert('Payment Failed!!!')
        }
      })
    } catch (err) {
      console.log("ssss  ", err)
    }

  }

</script>













{{!-- ///////////////////////////////////////coupen modal/////////////////////////////////////////////// --}}


{{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
  data-whatever="@getbootstrap">Open modal for @getbootstrap</button> --}}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">GET YOUR COUPON</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          {{#each allCoupens}}

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">{{this.coupenName}}</label>

            <input type="text" class="form-control" disabled=""
              value="CODE : {{this.coupenCode}} , Discount : {{this.coupenDiscount}}%" id="recipient-name">
          </div>

          {{/each}}

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<script>
  const applyCoupen = () => {
    let value = document.getElementById('coupenCode').value

    axios({
      method: 'post',
      url: '/applyCoupen',
      data: {
        code: value
      }
    }).then((e) => {
      if (e.data == "") {
        swal({

          text: "please enter your coupon code",
          icon: "warning",
          buttons: false
        });
        setTimeout(() => {
          location.reload()
        }, 700)

      } else {

        let grandTotal = document.getElementById('grandTotal')
        console.log("dddddddddddddddddddd", grandTotal)

        grandTotal.innerText = "₹ " + e.data

           swal({

                text: "Coupon used!",
                icon: "success",
                
            });
        


        let grandTotalInput = document.getElementById('grandTotalInput')
        console.log("dddddddddddddddddddd", grandTotalInput)

        grandTotalInput.value = "₹ " + e.data

      }

    })

  }

</script>