<section>
    









    <!-- banner part start-->
    <section class="banner_part" style="background-color:#d9e1e1;">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="banner_slider owl-carousel">

                        {{#each bannerResponse}}

                        <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-8" style="z-index: 1;">
                                    <div class="banner_text" style="width: 100px;">
                                        <div class="banner_text_iner">
                                            {{!-- <h1>{{this.produ}}
                                            </h1>
                                            <p>{{this.head}}</p>
                                            <span><a href="#" class="btn_2">buy now</a></span> --}}
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img  d-sm-block"
                                    style="position: absolute;top: 20%;left:10%;width: 80%;height: 10%;">
                                    <img src="/productimages/{{this.image.[0]}}" alt=""
                                        style="width: 92%;height: 552%;margin-top: 0%;  margin-left: 4%;">



                                </div>
                            </div>
                        </div>

                        {{/each}}

                        


                    </div>
                    <div class="slider-counter"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- banner part start-->

    <!-- feature_part start-->
   


    <section class="product_list section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Our Categories</h2>
                    </div>
                </div>
            </div>
            <div class="row" id="category">
                <div class="col-lg-12">
                    <div class="product_list_slider owl-carousel">
                        <div class="single_product_list_slider">
                            <div class="row align-items-center justify-content-between">

                                {{#each category}}

                                <div class="col-lg-3 col-sm-6" >
                                    <a href="/view-products/{{this._id}}">
                                        <div class="single_product_item">
                                            <img src="/productimages/{{this.image.[0]}}" alt=""
                                                data-filter=".{{this._id}}">
                                            <div class="single_product_text">
                                                <h4>{{this.categoryname}}</h4>
                                         

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {{/each}}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- upcoming_event part start-->

    <!-- product_list start-->
    <section class="product_list section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Our New Products <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" id="products">
                    <div class="product_list_slider owl-carousel">
                        <div class="single_product_list_slider">
                            <div class="row align-items-center justify-content-between">

                                {{#each productList}}


                                <div class="col-lg-3 col-sm-6 mt-4" >
                                    <div class="single_product_item">
                                        <a href="/singleProduct/{{this._id}}"><img
                                                src="/productimages/{{this.image.[0]}}" alt=""></a>
                                        <div class="single_product_text">
                                            <h4>{{this.productname}}</h4>
                                            <h3>₹ {{this.price}}</h3>
                                            <button onclick="addToCart('{{this._id}}')" class="add_cart"
                                                style="border-style: none;background-color:white;">+ add to cart</button>
                                            {{!-- <a href="/wishlist/{{this._id}}"><span style="margin-left: 40px;"><i
                                                        class="ti-heart"></i></span></a>
                                            --}}

                                            <button onclick="wishlist('{{this._id}}')"
                                                style="border-style:none;margin-left:4rem;background-color: white;"><span>
                                                    <i class="ti-heart"></i></span></button>


                                            {{#if duplicate}}
                                            <p>Item already in wishlist</p>
                                            {{/if}}
                                            {{!-- <a href="/addToCart/{{this._id}}" class="add_cart">+ add to cart<i
                                                    class="ti-heart"></i></a> --}}

                                        </div>
                                    </div>
                                </div>

                                {{/each}}

                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product_list part start-->



    
   

    <!-- subscribe_area part start-->
    {{!-- <section class="client_logo padding_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="single_client_logo">
                        <img src="img/client_logo/client_logo_1.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/client_logo_2.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/client_logo_3.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/client_logo_4.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/client_logo_5.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/client_logo_3.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/client_logo_1.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/client_logo_2.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/client_logo_3.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="img/client_logo/client_logo_4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section> --}}
    <!--::subscribe_area part end::-->

    <!--::footer_part start::-->

</section>




<script>
       function cartcount(){
        axios({
            method:'get',
            url:'/cartcount'
        }).then((e)=>{
            console.log('cart count',e.data)
           
            document.getElementById('cartcount').innerHTML=e.data
        })
    }
    const addToCart = async (id) => {
        console.log(id)
        const res = await axios.post(`/addToCart/${id}`, {}).then((e) => {
            cartcount()
            swal({

                text: "Item added to the cart!",
                icon: "success",
                buttons: false,
                timer: 1000
            });

        
        })

    }
</script>

<script>
    const wishlist = async (id) => {

        const res = await axios.post(`/wishlist/${id}`, {}).then((e) => {
             swal({

                text: "Item added to the wishlist!",
                icon: "success",
                buttons: false,
                timer: 1000
            });

          

        })
    }
</script>

